<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      NAIL SPA
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

<ion-grid>


  <ion-row>

<ion-col>
      <ion-img src="assets/img/u1.jpg" class ="imagenes"></ion-img>
      <ion-text color="success">
        <h1>Diseño 1</h1>
       </ion-text>
</ion-col>

<ion-col>
      <ion-img src="assets/img/u2.jpg" class ="imagenes"></ion-img>
      <ion-text color="success">
        <h1>Diseño 2 </h1>
        </ion-text>
</ion-col>

<ion-col>
      <ion-img src="assets/img/u3.jpg" class ="imagenes"></ion-img>
      <ion-text color="success">
        <h1>Diseño 3</h1>
        </ion-text>
    </ion-col>

<ion-col>
      <ion-img src="assets/img/u4.jpg" class ="imagenes"></ion-img>
      <ion-text color="success">
        <h1>Diseño 4</h1>
        </ion-text>
</ion-col>

  </ion-row>

</ion-grid>

<small> Hola Jamar </small>

<p>
  <ion-text color="warning"><ion-icon name="warning"></ion-icon></ion-text>
  I saw a werewolf with a Chinese menu in his hand. Walking through the
  <ion-text color="success"><sub>streets</sub></ion-text> of Soho in the rain. He
  <ion-text color="medium"><i>was</i></ion-text> looking for a place called Lee Ho Fook's. Gonna get a
  <ion-text color="danger">big dish of beef chow mein.</ion-text>
</p>



</ion-content>